body {
	font-family: 'Source Sans Pro', sans-serif;
	color:#000;
  margin:0;
  background: none;
}
h1 {
  margin: 10px auto;  
  margin-bottom: 0px;
  display: inline-block;
  color: #228B22;
  font-family: 'Miriam Fixed';
  font-size: 25px; 
  position:relative;   
} 
h1.title {
   text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
   1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
   1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
} 
h2{
  font-family: 'Segoe UI';
}
h3{
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI';

}
td{
  border-bottom: 1px dashed silver;
}
.name{
  padding: 0px;
  margin: 0px;
  font-size: 15px; 
  font-family: 'Gabriola';
}
a {
	color:#2E8B57;
	text-decoration:none;
	font-weight:500;
}

a:hover {
	color:#2E8B57;
	text-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	text-decoration:underline;
}
.logo_href{
  color: #228B22;
}

.emp{
  display:block;
  padding:5px;
  margin:5px;
  min-height: 300px;
  height:auto;
  border:3px double #6E8B3D;
  border-radius:5px;
}
.emp_info{
  display:block;
  position: relative;
  left: 5px;
  padding: 5px;
  margin:10px;
}
img {
      width: auto;
      max-width:100%;
}

.row {
	margin: auto;
	max-width: 960px;
	height: auto;
}
.inrow{
  margin: auto;
  max-width: 960px;
  height: auto;
  padding: 10px;
}
.inrow p{
  font-family: 'Segoe UI';
  text-indent: 20px;
}
header {
	position:relative;
	width:100%;
    padding:10px 0 0 0;
    height:155px;
}
#header_row{

}
nav {
	position:absolute;
/*	right:0;*/
	left:0;
	top:140px;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav li {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	font-size:16px;
}

nav a {
	color: #888;
	text-decoration: none;
	font-weight:500;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:5px;
	padding-right:5px;
  transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -moz-transition:all 0.2s;
  font-size: 15px; 
  font-family: 'Calibri';
}

nav a:hover {
	color: #228B22;
	text-decoration: underline;
}

nav li:last-child {
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

nav a.attivo {
	font-weight: bold;
	color: #000;
}

#immagine {
	margin: 10px 0;
	border-top: 1px solid #E0DACD;
  border-bottom: 1px solid #E0DACD;
	padding-bottom: 10px;
   background-image: repeating-linear-gradient(315deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 3px, transparent -19px, transparent 5px);
    background-size: 6px;
  float:left;
  width:100%;
  height:auto;
  -webkit-box-shadow:inset 0px 5px 5px rgba(0,0,0,0.2);
 box-shadow: inset 0px 5px 5px rgba(0,0,0,0.2);
  overflow:hidden;
}

#contenuto {
	float: left;
	padding-bottom: 50px;
}

#contenuto p {
	font-size:15px;
	line-height:1.5;
}

#contenuto h1 {
	font-size:22px;
}


.col {
	float: left;
	width: 31.25%; /* 300px / 960px */
	margin-right: 1.041666666667%; /* 10px / 960px */
	margin-left: 1.041666666667%; /* 10px / 960px */
}
.col li{
  font-family: 'Cambria';
}
footer {
	color:#999;
  width:100%;
  padding-bottom:10px;
  background-image: url('backimage.png');
}

footer p {
	font-size:13px;
  text-align:center;
  padding:10px 0;
  margin:0;
}

footer a {
	color:#666;
}

footer a:hover {
	color:#222;
}

.mobile {
  display:none;
}

.tinynav { 
	display: none;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  text-align:center;
}

hr {
	background: #fff;
	height: 3px;
	border: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, #e6e6e6));
	background-image: -webkit-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -ms-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -o-linear-gradient(left, #fff, #e6e6e6, #fff);
	clear: both;
}

hr:after {
	content: '';
	background: #ccc;
	display: block;
	height: 1px;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#e6e6e6), to(#e6e6e6), color-stop(50%, #ccc));
	background-image: -webkit-linear-gradient(left, #e6e6e6, #ccc, #e6e6e6);
	background-image: -moz-linear-gradient(left, #e6e6e6, #ccc, #e6e6e6);
	background-image: -ms-linear-gradient(left, #e6e6e6, #ccc, #e6e6e6);
	background-image: -o-linear-gradient(left, #e6e6e6, #ccc, #e6e6e6);
}
.center{
   	background-image: url('backlogo.png');
	background-repeat: no-repeat;
	background-position: left -0px bottom 0px;
	box-sizing:border-box;
	-webkit-box-shadow:inset 0 0 2em #000;
}
@media only screen and (max-width: 767px) {
	
	.col {
		float:none;
		border-bottom:1px solid #ccc;
		width:93.75%; /* 300px / 320px */
		margin-right:3.125%; /* 10px / 320px */
		margin-left:3.125%; /* 10px / 320px */
	}
	
	.col:last-child {
		float:none;
		border-bottom:none;
	}
	
	
	header, #contenuto, footer  {
		width:93.75%; /* 300px / 320px */
		margin-right:3.125%; /* 10px / 320px */
		margin-left:3.125%; /* 10px / 320px */	
	}
  
  #immagine {
    -webkit-box-shadow:none;
    box-shadow: none;
    margin-left:0;
    margin-right:0;
  }
	
  #immagine img {
     width: auto;
    max-width: none;
    height:300px;
  }
  
	nav {
		position:relative;
		top:0;
		margin-bottom:20px;
		text-align:center;
	}
	
	nav li {
		float:none;
		display:inline-block;	
	}
  
  footer p {
    padding-bottom:30px;
  }
  
  .mobile {
  display:inline;
}
  
  .desktop {
  display:none;
}
	
}

@media screen and (max-width: 600px) {
  .tinynav { display: block; }
  #nav { display: none }
}
.button {
  position:relative;
  float:left;
  width:auto;
  margin:5px;
  margin-top:20px;
  background:#3CB371;
  color:#fff;
  border-radius: 5px;
  font-weight:400;
  padding:10px;
  text-shadow:1px 1px 0px #000;
   box-shadow: inset 0px 5px 5px rgba(0,0,0,0.2);
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.button:hover{
 background:#2E8B57;
 cursor:pointer;
 font-weight:500;
 text-shadow:none;
 color:#fff;
}
#header_logo{
float:left;
}
#header_logo img{
margin:5px;
}
#header_info{
float:right;
}
/*Подготовка ФОРТРАНС*/
#preparation{
  position:relative;
  display:block;
  width:100%;
  height:500px;
  margin-bottom:15px;
}
#preparation-inner-left{
display:block;
position:relative;
 width: 33%;
 float:left;
 height:500px;
}
#preparation-inner-center{
display:block;
position:relative;
 width: 34%;
 height:500px;
 float:left;
}
#preparation-inner-center-up{
display:block;
position:relative;
 width: 100%;
 float:right;
 height:32%;
 top:0;
 bottom:0px;
  border-radius:0px 0px 25px 25px;
}
#preparation-inner-center-up p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 2em;
  color: #000;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-center-center{
display:block;
position:relative;
 width: 100%;
 float:right;
 height:33%;
 top:1%;
 bottom:0px;
  background: -webkit-linear-gradient(right, #00CD00 0%,#8FBC8F 50%,#fff 100%);
  background: -o-linear-gradient(right, #00CD00 0%,#8FBC8F 50%,#fff 100%);
  background: -moz-linear-gradient(right, #00CD00 0%,#8FBC8F 50%,#fff 100%);
  border-radius:0px 25px 25px 0px;
}
#preparation-inner-center-center p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 1.3em;
  color: #000;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
#preparation-inner-center-center:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-center-down{
display:block;
position:relative;
 width: 100%;
 float:right;
 top:2%;
 height:33%;
 bottom:0px;
   background: -webkit-linear-gradient(right, #00CD00 0%,#8FBC8F 50%,#fff 100%);
  background: -o-linear-gradient(right, #00CD00 0%,#8FBC8F 50%,#fff 100%);
  background: -moz-linear-gradient(right, #00CD00 0%,#8FBC8F 50%,#fff 100%);
  border-radius:0px 25px 25px 0px;
}
#preparation-inner-center-down p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 1.3em;
  color: #000;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
#preparation-inner-center-down:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-right{
display:block;
position:relative;
 width: 33%;
 float:right;
 height:500px;
}
#preparation-inner-right-up{
display:block;
position:relative;
 width: 100%;
 float:right;
 height:32%;
 top:0;
 bottom:0px;
  border-radius:0px 0px 25px 25px;
}
#preparation-inner-right-up p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 2em;
  color: #000;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-right-down{
display:block;
position:relative;
 width: 100%;
 float:right;
 top:3%;
 height:33%;
 bottom:0px;
   background: -webkit-linear-gradient(right, #008B00 0%,#8FBC8F 50%,#fff 100%);
  background: -o-linear-gradient(right, #008B00 0%,#8FBC8F 50%,#fff 100%);
  background: -moz-linear-gradient(right, #008B00 0%,#8FBC8F 50%,#fff 100%);
  border-radius:0px 25px 25px 0px;
}
#preparation-inner-right-down p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 1.3em;
  color: #000;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
#preparation-inner-right-down:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-right-center{
display:block;
position:relative;
 width: 100%;
 float:right;
 top:1%;
 height:33%;
 bottom:0px;
   background: -webkit-linear-gradient(right, #008B00 0%,#8FBC8F 50%,#fff 100%);
  background: -o-linear-gradient(right, #008B00 0%,#8FBC8F 50%,#fff 100%);
  background: -moz-linear-gradient(right, #008B00 0%,#8FBC8F 50%,#fff 100%);
  border-radius:0px 25px 25px 0px;
}
#preparation-inner-right-center p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 1.3em;
  color: #000;
  text-shadow: 0 0 10px rgba(255,255,255,0.5);
}
#preparation-inner-right-center:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-left-center{
display:block;
position:relative;
 width: 100%;
 float:right;
 height:33%;
 top:34%;
 bottom:0px;
  background: -webkit-linear-gradient(right, #3CB371 0%,#8FBC8F 50%,#fff 100%);
  background: -o-linear-gradient(right, #3CB371 0%,#8FBC8F 50%,#fff 100%);
  background: -moz-linear-gradient(right, #3CB371 0%,#8FBC8F 50%,#fff 100%);
  border-radius:0px 25px 25px 0px;
}
#preparation-inner-left-center p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-left-center:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-left-down{
display:block;
position:relative;
 width: 100%;
 float:right;
 top:35%;
 height:33%;
 bottom:0px;
   background: -webkit-linear-gradient(right, #3CB371 0%,#8FBC8F 50%,#fff 100%);
  background: -o-linear-gradient(right, #3CB371 0%,#8FBC8F 50%,#fff 100%);
  background: -moz-linear-gradient(right, #3CB371 0%,#8FBC8F 50%,#fff 100%);
  border-radius:0px 25px 25px 0px;
}
#preparation-inner-left-down p{
  text-align:center;
  font-family: 'Calibri';
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#preparation-inner-left-down:hover{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.td-prep-type{
  width:400px;
  height:100px;
  background-color: blue;
  border-radius: 0px 75px 75px 0px;
}
.td-prep-day-before{
}
.td-prep-day{
}
.action-href{
    font-family: Calibri;
    color: crimson;
}
.smile{
    font-weight:700;
    margin: 5px;
    font-size: 20px;
}
#code:hover { text-shadow: 0 0 100px red,0 0 40px FireBrick,0 0 8px DarkRed; }
#code span{
    font-size: 100%;
    color: crimson;
  -webkit-animation: lower 10s linear infinite;
  -moz-animation: lower 10s linear infinite;
  -o-animation: lower 10s linear infinite;
  -ms-animation: lower 10s linear infinite;
  animation: lower 10s linear infinite;
}
@-webkit-keyframes toggleOpacity {
  50% { opacity: 1; } /* Turn off */
  50.001% { opacity: 0.4; }

  /* Keep off state for a short period */

  52.999% { opacity: 0.4; } /* Turn back on */
  53% { opacity: 1; }
}
@-webkit-keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 20px white,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  50% { opacity: 1; } /* Turn off */
  50.001% { opacity: 0.4; }
  52.999% { opacity: 0.4; } /* Turn back on */
  53% { opacity: 1; }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}
@-moz-keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 20px white,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  50% { opacity: 1; } /* Turn off */
  50.001% { opacity: 0.4; }
  52.999% { opacity: 0.4; } /* Turn back on */
  53% { opacity: 1; }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}
@-ms-keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 20px white,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  50% { opacity: 1; } /* Turn off */
  50.001% { opacity: 0.4; }
  52.999% { opacity: 0.4; } /* Turn back on */
  53% { opacity: 1; }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}
@-o-keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 20px white,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  50% { opacity: 1; } /* Turn off */
  50.001% { opacity: 0.4; }
  52.999% { opacity: 0.4; } /* Turn back on */
  53% { opacity: 1; }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}
.tet-a-tet{
    float:left;
     margin: 7px 7px 7px 0;
}
.tet-a-tet-block{
    display:block;
    height:auto;
    min-height:200px;
    padding:5px;
    margin-bottom: 10px;
    margin-top: 10px;
}